:root {
    /* typography */
    --font-family: Montserrat;

    /* widths */
    --width-sidebar: 300px;
    --search-results-height: 140px;
    --width-number: 108px;
    --height-action-btn: 40px;
    --width-timeline-btn: 50px;
    --height-timeline-btn: 30px;
    --width-units: 50px;
    --legend-offset: 100px;
    --height-utility-bar: 24px;
    --height-title-header: 60px;
    --height-selector: 28px;
    --width-datetime: 100px;

/* colors */
    --bg-primary: rgb(25, 25, 29);
    --bg-secondary: rgb(40, 44, 54);
    --bg-tertiary: rgb(71, 73, 86);
    --bg-timeline: rgb(32, 32, 34);
    --text-primary: rgb(220, 220, 220);
    --text-secondary: rgb(180, 180, 180);
    --text-muted: rgb(134, 136, 139);
    --shadow-primary: rgb(0, 0, 0);
    --shadow-secondary: rgb(32, 32, 32);
    --timeline-slider: rgb(60, 60, 60);
    --scrollbar: rgba(255,255,255,.2) transparent;

/* spacing */
    --spacing-xxxs: 2px;
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 12px;
    --spacing-md: 16px;
    --spacing-lg: 20px;
    --font-size-xxs: 10px;
    --font-size-xs: 11px;
    --font-size-sm: 13px;
    --font-size-md: 15px;
    --font-size-lg: 18px;
    --weight-bold: 600;
    --weight-primary: 500;
    --weight-secondary: 400;

/* border-size */
    --border-xl: 6px;
    --border-lg: 4px;
    --border-md: 2px;
    --border-sm: 1px;

/* shadow-size */
    --shadow-size-sidebar: 0 0 5px;
    --shadow-size-secondary: 1px 1px 2px;

/* transitions */
    --transition-fast: .15s ease;
    --transition-medium: .2s ease;
    --transition-slow: .3s ease;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.sidebar-content {
    height: 100%;
    padding: var(--spacing-xxs) 0;
}

.floating-container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: var(--font-size-xs);
    font-weight: var(--weight-secondary);
    color: var(--text-secondary);
    row-gap: var(--spacing-xs);
}

.main-label::before {
    content: '';
    position: absolute;
    left: 0;
    height: 1em;
    width: var(--border-md);
    background: var(--text-muted);
}

.container-secondary {
    display: flex;
    font-family: var(--font-family);
    font-size: var(--font-size-xs);
    font-weight: var(--weight-secondary);
    color: var(--text-secondary);

    justify-content: space-between;
    align-items: center;
}

.container-secondary.hidden {
    display: none;
}

.box-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--spacing-sm);
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    font-weight: var(--weight-bold);
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    border-radius: var(--border-md);

    row-gap: var(--spacing-sm);
}

.inline-container {
    height: var(--height-selector);
    display: flex;
    align-items: center;
    row-gap: var(--spacing-xs);
    padding: 0  var(--spacing-sm);
    background-color: var(--bg-secondary);
    border-radius: var(--border-md);
    justify-content: space-between;
    font-size: var(--font-size-xxs);
    font-weight: var(--weight-secondary);
    color: var(--text-secondary);
    white-space: nowrap;
}

.inline-container.light {
    background-color: var(--bg-tertiary);
}

/* selectors */
.selector-primary {
    width: 100%;
    height: var(--height-selector);
    padding: var(--spacing-xxxs);
    font-family: var(--font-family);
    font-size: var(--font-size-xs);
    font-weight: var(--weight-primary);
    text-align: center;
    color: var(--text-muted);
    background-color: var(--bg-secondary);
    border: none;
    border-radius: var(--border-md);
    cursor: pointer;

    appearance: none;
    text-align-last: center;
    transition: background-color var(--transition-fast);
}

.selector-primary:hover {
    background-color: var(--bg-tertiary);
}

.scheme-selector {
    height: auto;
    width: var(--width-number);
    background-color: var(--bg-tertiary);
    margin-right: var(--spacing-xxs);
    padding: var(--spacing-xxxs);
    font-family: var(--font-family);
    font-size: var(--font-size-xs);
    font-weight: var(--weight-primary);
    text-align: center;
    color: var(--text-muted);
    border: none;
    border-radius: var(--border-md);
    cursor: pointer;

    appearance: none;
    text-align-last: center;
    transition: background-color var(--transition-fast);
}

.scheme-selector:hover {
    opacity: 0.6;
}

.field-primary {
    padding: 1px var(--spacing-xs);
    font-family: var(--font-family);
    font-size: var(--font-size-xs);
    font-weight: var(--weight-primary);
    text-align: center;
    color: var(--text-muted);
    background-color: var(--bg-tertiary);
    border: none;
    border-radius: var(--border-md);
    cursor: pointer;
    width: var(--width-number);
    margin-left: auto;
    margin-right: var(--spacing-xxs);
    text-align-last: center;
}

.field-primary.transparent {
    background-color: transparent;
}
.unit-text {
    width: var(--width-units);
    font-size: var(--font-size-xs);
    font-weight: var(--weight-secondary);
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  height: 0;
}
input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.65;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.7;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover,
input[type="time"]::-webkit-calendar-picker-indicator:hover,
input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}